header {
  text-align: center;
  background-image: url("images/flat.jpg");
  background-position: center;
  background-size: 2500px 1667px;
}

a {
  color: white;
  font-family: "Emblema One";font-size: 25px;
}

h1 {
  font-family: "Emblema One";font-size: 100px;
  color: orange;
  margin-top: 0px;
}

h2 {
  text-align: left;
  font-family: "Emblema One";font-size: 25px;
  color: orange;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

p {
  font-family: "Helvetica";font-size: 12px;
  padding: -200px;
}

.photos {
  float: left;
  width: 100%;
  margin-left: 100px;
}

#navigation {
  padding: 20px;
  background: rgba(0,0,0,0.5);
}

li {
  display: inline;
  padding: 0px 20px 0px 10px;
}

.navbar {
  margin-top: 400px;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  body {
    background: green;
  }

  h1 {
    font-size: 50px;
    padding: 30px;
  }

  p {
    padding: 5px;
    margin-left: 20px;
  }

  li {
    padding: 5px;
    display: block;
  }
}

/* Contact form css */
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: "Helvetica";font-size: 12px;
}

input[type=submit] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: "Emblema One";font-size: 18px;
}

input[type=submit]:hover {
  background-color: orange;
}

.column {
  float: left;
  width: 40%;
  margin-left: 80px;
  padding: 20px;
  font-family: "Helvetica";font-size: 12px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 500px) {
  .column, input[type=submit] {
    width: 80%;
    margin-left: 50px;
  }
}

/* Social media buttons css */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 16px;
}


.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #FFD700;
  color: white;
}

.twitter {
  background: #FFA500;
  color: white;
}

.google {
  background: #FF8C00;
  color: white;
}

.linkedin {
  background: #FFA500;
  color: white;
}

.youtube {
  background: #FFD700;
  color: white;
}


/* Text on photos on events page css */
*
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:	#000000;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.responsive {
  max-width: 500px;
  height: 50%;
  width: auto;
}
